TESSARYN_WEAVE_ROOT=/var/lib/tessaryn/weave
TESSARYN_WEAVE_LISTEN=127.0.0.1:8790
TESSARYN_WEAVE_PUBLIC_URL=https://weave.rpc.mfenx.com
TESSARYN_WEAVE_ALLOWED_ORIGINS=https://tessaryn.com,https://www.tessaryn.com
TESSARYN_WEAVE_CHUNK_BYTES=4194304
TESSARYN_WEAVE_MAX_OBJECT_BYTES=536870912
TESSARYN_WEAVE_MAX_PUBLISHER_BYTES=4294967296
TESSARYN_WEAVE_MAX_PENDING_BYTES=2147483648
TESSARYN_WEAVE_MAX_RETAINED_BYTES=34359738368
TESSARYN_WEAVE_MAX_ACTIVE_UPLOADS=32
TESSARYN_WEAVE_MAX_ACTIVE_UPLOADS_PER_PUBLISHER=4
TESSARYN_WEAVE_MAX_PUBLICATIONS=100000
TESSARYN_WEAVE_MAX_PUBLICATIONS_PER_PUBLISHER=1000
TESSARYN_WEAVE_UPLOAD_TTL_SECONDS=86400
